@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

/* FORMATO COLORES*/
:root {
    --primary1: #65428A;
    --primary2: #0097A9;
    --white: #FFFFFF;
    --lightgray: #F1F1F1;
    --darkgray: #363636;
    --degraded: linear-gradient(90deg, #65428A 0%, #0097A9 100%);
    --shadow: 0 8px 8px;
    --color_shadow: #00000033;
}

/* FORMATO GENERAL */
* {
    box-sizing: border-box;
    color: var(--darkgray);
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--lightgray);
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

/* FORMATO TEXTOS*/
h1 {
    font-size: 36px;
    font-weight: 700;
}

h2 {
    font-size: 26px;
    font-weight: 500;
}

h3 {
    font-size: 20px;
    font-weight: 400;
}

h4 {
    font-size: 14px;
    font-weight: 400;
}

p {
    font-size: 21px;
}

li {
    font-size: 21px;
}

/* FORMATO CONTENIDO */
/* HEADER */
header {
    background: var(--degraded);
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 0 8px 8px var(--color_shadow);
}

.container {
    display: flex;
    justify-content: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 15px 30px;
}

.mainlogo {
    width: 50%;
}

/* HERO */
.hero {
    display: flex;
    padding: 10px 30px;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: auto;
    background-image: url("img/web-bckgrnd2.png");
}

.title {
    color: var(--lightgray);
    font-weight: 700;
}

.subtitle {
    max-width: 900px;
    color: var(--lightgray);
}

.space {
    padding: 20px;
}

.center {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

/* BODY */
.contenido {
    padding: 40px;
    height: auto;
    background: var(--degraded);
}
.contenido-proy {
    padding: 10px 40px;
    height: auto;
    background: var(--lightgray);
}
/* BOTTOM --> redes sociales */
.bottomBanner {
    padding: 10px;
    overflow: hidden;
    background-color: #363636;
    width: 100%;
}

.bottomBanner a {
    float: left;
    display: flex;
    align-content: center;
    padding: 5px 10px;
    margin-left: 5px;
    margin-right: 5px;
}

.bottomName {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: var(--lightgray);
    text-align: center;
    margin-bottom: 5px;
    padding-top: 10px;
}