@import url(https://fonts.googleapis.com/css?family=Roboto);
body{
    background-image: url("img/web-bckgrnd1.png");
}
.topBanner{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.topBanner > div {
    margin: 10px;
    align-items: center;
}
.center {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.bottomBanner {
    overflow: hidden;
    background-color: #363636;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.bottomBanner a{
    float: left;
    display: flex;
    align-content: center;
    padding: 10px 15px;
    margin-left: 5px;
    margin-right: 5px;
}

.bottomBanner a:hover {
    background: radial-gradient(101.74% 5274% at -1.74% 100%, #65428A 0%, #0097A9 100%);
    border-style: hidden;
    border-radius: 5px;
    
}
.nombre {
    font-family: Roboto;
    font-style: normal;
    color: white;
    text-align: center;
    margin: 5px;
}