@import url("./normalize.css");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap");

/* Globales */
:root {
  --blanco: #ffffff;
  --plomo-claro: #e4e4e4e4;
  --negro: #000000;
  --morado: #8d35c2;
  --plomo: #666666;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0rem;
  padding: 0rem;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  background-color: var(--plomo-claro);
  font-family: "Inter", "SourceSansPro", Arial, Helvetica,
    sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

/* Menu */
.menu {
  margin-top: 1rem;
  width: 100vw;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 8rem;
  font-size: 2rem;
}

.menu__items__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.menu__logo__image {
  width: 20rem;
}

.menu__item {
  font-size: 2.5rem;
  text-decoration: none;
  color: var(--plomo);
  font-weight: 500;
  display: block;
  width: 100%;
  padding: 2rem;
}

.menu__item--active {
  color: var(--negro);
  border-bottom: 5px solid var(--morado);
}
