/* Importaciones */
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap");

/* Configuraciones Globales */
:root {
  --fondo: #0c030e;
  --blanco: #ffffff;
  --gris-oscuro: #191825;
  --gris-claro: #666666;
  --morado: #8D35C2;
  --morado--oscuro: #2A2842;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0rem;
  padding: 0rem;
}

body {
  background-color: var(--fondo);
  color: var(--blanco);
  font-size: 1.6rem;
  line-height: 1.8;
  display: flex;
  justify-content: space-between;
  position: relative;
}

/* Menu Lateral */
aside {
  background-color: var(--gris-oscuro);
  top: 0;
  right: 0;
  height: 100vh;
  width: 20%;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 3rem;
}

.menu__container {
  list-style: none;
  font-weight: 500;
  font-size: 3rem;
}

.menu__item {
  color: var(--gris-claro);
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  display: block;
}

.menu__item:hover{
  color: var(--blanco);
  transform: scale(1.3);
}

.menu__item--active {
  color: var(--blanco);
}

.menu__footer__button{
  background-color: var(--morado--oscuro);
  color: var(--blanco);
  border: .1rem solid var(--morado);
  border-bottom: .5rem solid var(--morado);
  border-radius: .5rem;
  font-size: 2rem;
  font-weight: 700;
  padding: .6rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.menu__footer__button:hover{
  background-color: var(--morado);
  border: .1rem solid var(--morado--oscuro);
  border-bottom: .5rem solid var(--morado--oscuro);
  border-right: .5rem solid var(--morado--oscuro);
}


/* Principal */
.principal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 100vh;
  padding: 5rem;
}

/* Main */
.main__text-degrade {
  background: linear-gradient(84.07deg, #8d35c2 -0.02%, #01b7cd 100.02%);
  background-clip: text;
  font-size: 10rem;
  font-family: "Source Sans Pro";
  --webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
